<div class="row ml-0 mr-1 mb-auto">
    <button id="{{ button-name | replace:' ', '-' | downcase }}" class="btn btn-light btn-block btn-sm p-0 mb-1">
        <div class="col-12 text-left px-2 py-0">
            <i class="{{ button-icon }} fa-fw fa-sm"></i>
            <small>{{ button-name }}</small>
        </div>
    </button>
</div>