<div class="d-inline-block border-right px-2 d-flex flex-column justify-content-end">
    <div class="m-0 h-100">
        <div class="p-0 d-flex align-items-top h-100">
            {{ category-content }}
        </div>
    </div>
    <div class="m-0 text-center">
        <small>{{ category-name }}</small>
    </div>
</div>