{% comment %}
File list (for folders)
{% endcomment %}
{% assign template = "files/file-list-single.liquid" %}

<table id="file-list" class="table table-sm">
    <thead>
        <th scope="col" class="fa-fw"></th>
        <th scope="col">Name</th>
        <th scope="col" width="200">Date modified</th>
        <th scope="col" width="100">Size</th>
        <th scope="col" width="150">Attr</th>
    </thead>
    <tbody>
        <!-- directories -->
        {% for file in files %}
            {% if file.dir %}
                {% include {{ template }} %}
            {% endif %}
        {% endfor %}
        <!-- files -->
        {% for file in files %}
            {% if file.dir == false %}
                {% include {{ template }} %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>