{% comment %}
Folder files list/grid
{% endcomment %}
{% if exchange.cookies.file-grid == "false" %}
    {% assign grid = false %}
{% else %} {% comment %}Files are grid by default{% endcomment %}
    {% assign grid = true %}
{% endif %}

<div 
    id="files" 
    class="flex-fill overflow-auto p-2" 
    file-target="{{ file.path }}" file-type="parent"
    >
    <!-- topbar -->
    <div class="d-flex align-items-center border-bottom mx-0 mb-1 py-1">
        <!-- folder name -->
        <p class="d-inline-block mb-0">/{{ file.name }}</p>
        <!-- grid toggler -->
        <button id="toggle-view" class="btn btn-light ml-auto">
            {% if grid %} {% comment %} Show button for alt {% endcomment %}
                <i class="fas fa-th-list fa-sq"></i>
            {% else %}
                <i class="fas fa-border-all fa-sq"></i>
            {% endif %}
        </button>
    </div>
    
    <!-- files -->
    {% assign files = file.files | sort_natural: "name" %}
    
    {% if grid %}
        {% assign template = "files/file-grid.liquid" %}
    {% else %}
        {% assign template = "files/file-list.liquid" %}
    {% endif %}

    {% include {{ template }} %}
</div>