<div class="card bg-transparent file d-inline-block m-1">
    <div class="card-img w-100 h-100 
        d-flex align-items-center justify-content-center">
        <i class="fas fa-file fa-3x fa-fw"></i>
    </div>
    <div class="card-img-overlay p-0 w-100 
        text-center text-break
        d-flex align-items-end">
        <a class="text-decoration-none stretched-link small card-text text-white p-1 w-100" href="{{ file.parent }}/{{ file.name }}">{{ file.name }}
            </a>
    </div>
</div>