<div class="w-100 h-100 d-flex flex-column bg-light">
    <!-- navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark p-0 w-100">
        <!-- brand -->
        <button 
            id="sidebar-toggler"
            class="navbar-toggler border-0 mr-0 p-0 d-flex align-items-center justify-content-center"
        >
            <img src="/dependencies/katsute/assets/icon.png" width="30" height="30">
        </button>
        <p class="navbar-brand user-select-none my-0 pl-2 mr-auto">WebSys</p>
        <!-- search -->
        <button class="navbar-toggler border-0" data-toggle="collapse" data-target="#nav-dropdown">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="nav-dropdown">
            <div class="px-1 py-2">
                <!-- search form -->
                <form class="mr-auto" enctype="multipart/form-data" method="post">
                    <div class="input-group input-group-sm">
                        <!-- search field + button -->
                        <input id="file-search" class="form-control rounded-0" disabled type="text" placeholder="Search" name="search" value="{{ exchange.post.search.value }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary rounded-0"><i class="fas fa-search fa-fw"></i></button>
                        </div>
                    </div>
                    <!-- adv search filters -->
                    {% include files/search_filter.liquid %}
                </form>
            </div>
        </div>
    </nav>

    <div class="d-flex flex-fill overflow-auto">
        <!-- sidebar -->
        {% include files/sidebar.liquid %}
        <!-- files -->
        {% include files/files.liquid %}
    </div>
    <!-- dropdown -->
    {% include files/context_menu.liquid %}
</div>