<!-- toolbar -->
<div class="col-12">
    <div class="border rounded m-2 p-2">
        <ul class="nav nav-tabs" id="toolbar">
            <li class="nav-item">
                <a class="nav-link py-1 active" data-toggle="tab" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" data-toggle="tab" href="#share">Share</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" data-toggle="tab" href="#view">View</a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- home -->
            <div class="tab-pane fade show active" id="home"></div>
            <!-- share -->
            <div class="tab-pane fade" id="share">S</div>
            <!-- view -->
            <div class="tab-pane fade" id="view">H</div>
        </div>
    </div>
</div>
<!-- files -->